.AboutMe {
  margin: 120px auto 0;
  max-width: 1300px;
}

.MeSection {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AboutMaritza {
  flex: 1;
}

.AboutMe h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0 10px 22px;
  text-align: center;
}

.AboutMe h2 {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
}

.AboutMe .ProjectsLink {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #f3ad88;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 700ms ease-in-out;
  margin: 13px 0 30px;
}

.AboutMeImage {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 992px) {
  .AboutMe h2 {
    text-align: center;
  }

  .MeSectionDescription p {
    text-align: center;
  }

  .ProjectLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AboutMe .ProjectsLink {
    text-align: center;
    padding: 10px 35px;
  }
}

@media (max-width: 768px) {
  .AboutMe h1 {
    font-size: 35px;
  }
}
