.SiteMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
}

.SiteMenu .BrandName {
  margin-bottom: 0;
}

.SiteMenu .MenuList {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.SiteMenu .MenuItem {
  list-style: none;
}

.SiteMenu .MenuItem .MenuLink.active {
  color: black;
  font-weight: bold;
}

.SiteMenu li:not(:first-child) {
  margin-left: 25px;
}

.SiteMenu .MenuItem .MenuLink {
  text-decoration: none;
  color: gray;
}

.BurgerMenu {
  display: none;
  background-color: red;
}

.bm-cross-button {
  background-color: brown;
}

.SideBar {
  display: none;
}

/* Hide .SiteMenu on small screens */
@media (max-width: 650px) {
  .MenuItem {
    display: none;
  }

  .SideBar {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    background-color: black;
  }
}

/* Show .SiteMenu on larger screens */
@media (min-width: 651px) {
  .SideBar {
    display: none;
  }
}
